/* BUTTONS */
.button {	
	-fx-background-color:
            #6EB8DD,
            linear-gradient(#FFFFFF, #E2FFFF),
            linear-gradient(#C4FFFF, #A7F0FF),
            linear-gradient(#8BD4FA, #6EB8DD);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight:bold;
}

.toggle-button {
	-fx-background-color:
            #6EB8DD,
            linear-gradient(#FFFFFF, #E2FFFF),
            linear-gradient(#C4FFFF, #A7F0FF),
            linear-gradient(#8BD4FA, #6EB8DD);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight:bold;
}

.toggle-button:hover{
	-fx-background-color:
            #6EB8DD,
            linear-gradient(#E2FFFF, #FFFFFF),
            linear-gradient(#A7F0FF, #C4FFFF),
            linear-gradient(#6EB8DD, #8BD4FA);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight:bold;
}

.toggle-button:selected {
	-fx-background-color:
            #6EB8DD,
            linear-gradient(#E2FFFF, #FFFFFF),
            linear-gradient(#A7F0FF, #C4FFFF),
            linear-gradient(#6EB8DD, #8BD4FA);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight:bold;
}

.button:hover {
	-fx-background-color:
            #6EB8DD,
            linear-gradient(#E2FFFF, #FFFFFF),
            linear-gradient(#A7F0FF, #C4FFFF),
            linear-gradient(#6EB8DD, #8BD4FA);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-font-weight:bold;
}


/* TOP PANE */
.top-pane {
	-fx-background-color: #DDD56E /* #e3d105*/;	
	-fx-padding: 15 20 15 20;
	-fx-spacing: 20;
}

.top-pane .button {
	-fx-font-weight: bold;
}

#enter-zone-tf {
	-fx-alignment: center-left;
	-fx-font-size: 12pt;
}

.left-control-btns {
	-fx-padding: 5px;
    -fx-spacing: 10px;
} 

/* TABS */
.tab-pane .tab-header-area .tab-header-background { 
    -fx-opacity: 0; 
} 

.tab-pane { 
    -fx-tab-min-width:90px; 
} 

.tab-pane .tab:disabled {
	-fx-background-color: #A7F0FF;
	
}
.tab:disabled .tab-label {
	-fx-text-fill: grey;
}
.tab-pane .tab { 
    -fx-background-color: #8BD4FA;
} 

.tab-pane .tab:selected  { 
    -fx-background-color: #6EB8DD;
} 

.tab .tab-label { 
    -fx-alignment: CENTER; 
    -fx-text-fill: white; 
    -fx-font-size: 12px; 
    -fx-font-weight: bold; 
} 

.tab:selected .tab-label { 
    -fx-alignment: CENTER; 
    -fx-text-fill: white;
} 

.left-pane {
	-fx-background-color: #DDD56E;
	-fx-border-width: 0 5px 0 0;
	-fx-border-color: #DDD56E;
}

.left-control-btns {
	-fx-background-color: white;
}

/* LIST VIEW */
.list-cell{
	-fx-font-size: 11pt;
}

/* SEARCH */
.search {
	-fx-border-width: 5px; 
	-fx-border-color: #6EB8DD;
 	-fx-alignment: center-left;
	-fx-font-size: 12pt;
 }
 
/* CENTER VIEW */
.scroll-pane .viewport {
   -fx-background-color: transparent;
}
.center-view {
	-fx-background-color: white;
	-fx-padding: 15;
	-fx-hgap: 10;
    -fx-vgap: 10;
}

.main-root {
	 -fx-background-color: white;
	 
}

#information-label {
	-fx-font-weight: bold;
}

.label {
	-fx-font-size: 13pt;
}

.text-field {
	-fx-font-size: 12pt;
}

/* TEXT AREA */
.text-area *.text {
    -fx-text-alignment: justify;
}

.text-area {
	-fx-pref-height: 500;
	-fx-font-size: 12pt;
}


