.button {
	-fx-font-size: 15pt;
	-fx-cursor: hand;
}
.top-pane {
	
	-fx-background-color: #DDD56E /* #e3d105*/;	
	-fx-padding: 15 20 15 20;
	-fx-spacing: 20;
}

.top-pane .button {
	
	-fx-font-weight: bold;
	
	
}

#enter-zone-tf {
		-fx-alignment: center-left;
	-fx-font-size: 12pt;
}

.left-control-btns {
	-fx-padding: 5px;
    -fx-spacing: 10px;
} 

.left-control-btns .button {
	-fx-font-size: 15pt;
	 /* #8aaae5*/
	 -fx-background-color: #6EB8DD;
	 -fx-text-fill: white;
	
	/*-fx-border-style: solid; */
	-fx-opacity: 0.80;
	
}
.left-control-btns .button:hover {
	-fx-opacity: 1;
}

.main-root {
	-fx-padding: 15;
	-fx-hgap: 10;
    -fx-vgap: 10;
}

.text-area *.text {
    -fx-text-alignment: justify;
}
